record(ai, "$(P)$(R)AI:PV") {
    field(DTYP, "asynInt32")
    field(DESC, "Process variable")
    field(INP, "@asynMask($(PORT)_PV 0 16)MODBUS_DATA")
    field(SCAN, "I/O Intr")
    field(PREC, "2")
    field(LINR, "SLOPE")
    field(ESLO, "0.01")
    field(EGU, "C")
    field(HOPR, "100")
    field(LOPR, "0")
    field(HIHI, "30")
    field(HIGH, "27")
    field(LOW, "18")
    field(LOLO, "15")
    field(HHSV, "MAJOR")
    field(HSV, "MINOR")
    field(LSV, "MINOR")
    field(LLSV, "MINOR")
}

record(mbbi, "$(P)$(R)AI:PV_STATUS") {
    field(DTYP, "asynInt32")
    field(DESC, "PV status")
    field(INP, "@asynMask($(PORT)_PV_STATUS 0 16)MODBUS_DATA")
    field(SCAN, "I/O Intr")
	field(ZRVL, "0")
	field(ONVL, "1")
	field(TWVL, "2")
	field(THVL, "3")
	field(FRVL, "4")
	field(FVVL, "5")
	field(SXVL, "6")
	field(SVVL, "7")
	field(EIVL, "8")
	field(NIVL, "9")
    field(ZRST, "OK")
    field(ONST, "Off")
    field(TWST, "Over Range")
    field(THST, "Under Range")
    field(FRST, "Unknown")
    field(FVST, "Ranging")
    field(SXST, "Overflow")
    field(SVST, "Open Sensor")
    field(EIST, "Config Error")
    field(NIST, "Insufficient Samples")
}
