record(mbbi, "$(P)$(R)AL$(AL):STATUS") {
    field(DTYP, "asynInt32")
    field(DESC, "Alarm $(AL) status")
    field(INP, "@asynMask($(PORT)_STATUS 0 16)MODBUS_DATA")
    field(SCAN,"I/O Intr")
    field(ZRST, "No Alarm")
    field(ZRVL, "0")
    field(ONST, "Active")
    field(ONVL, "1")
    field(TWST, "Inactive Not Acked")
    field(TWVL, "2")
    field(THST, "Active Not Acked")
    field(THVL, "3")
}

record(bo, "$(P)$(R)AL$(AL):ACK") {
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Alarm $(AL) ack")
    field(OUT, "@asynMask($(PORT)_ACK 0 0xFFFF)")
    field(ZNAM,"No")
    field(ONAM,"Yes")
    field(ZSV,"NO_ALARM")
    field(OSV,"NO_ALARM")
}

record(mbbi, "$(P)$(R)AL$(AL):TYPE") {
    field(DTYP, "asynInt32")
    field(DESC, "Alarm $(AL) type")
    field(INP, "@asynMask($(PORT)_TYPE 0 16)MODBUS_DATA")
    field(SCAN,"I/O Intr")
    field(ZRST, "Off")
    field(ZRVL, "0")
    field(ONST, "High absolute")
    field(ONVL, "1")
    field(TWST, "Low absolute")
    field(TWVL, "2")
    field(THST, "Deviation high")
    field(THVL, "3")
    field(FRST, "Deviation low")
    field(FRVL, "4")
    field(FVST, "Deviation band")
    field(FVVL, "5")
    field(SXST, "Rate rising")
    field(SXVL, "6")
    field(SVST, "Rate falling")
    field(SVVL, "7")
    field(EIST, "Digital high")
    field(EIVL, "8")
    field(NIST, "Digital low")
    field(NIVL, "9")
}
