record(mbbi, "$(P)$(R)IO1:STATUS") {
    field(DTYP, "asynInt32")
    field(DESC, "IO1 status")
    field(INP, "@asynMask($(PORT)_STATUS 0 16)MODBUS_DATA")
    field(SCAN, "I/O Intr")
	field(ZRVL, "0")
	field(ONVL, "1")
	field(TWVL, "2")
	field(THVL, "3")
	field(FRVL, "4")
	field(FVVL, "5")
	field(SXVL, "6")
	field(SVVL, "7")
	field(EIVL, "8")
	field(NIVL, "9")
    field(TEVL, "10")
    field(ELVL, "11")
    field(ZRST, "Good")
    field(ONST, "Channel Off")
    field(TWST, "Over Range")
    field(THST, "Under Range")
    field(FRST, "Hardware Status Invalid")
    field(FVST, "Ranging")
    field(SXST, "Overflow")
    field(SVST, "Bad")
    field(EIST, "HW Exceeded")
    field(NIST, "No Data")
    field(TEST, "No Calibration")
    field(ELST, "Input Saturated")
}

record(ai, "$(P)$(R)IO1:PV_RB") {
    field(DTYP, "asynInt32")
    field(DESC, "IO1 PV readback")
    field(INP, "@asynMask($(PORT)_PV_RB 0 16)MODBUS_DATA")
    field(SCAN, "I/O Intr")
    field(LINR, "SLOPE")
    field(ESLO, "0.1")
    field(EGU, "%")
    field(EGUL, "100.0")
    field(EGUF, "0.0")
    field(HOPR, "100.0")
    field(LOPR, "0.0")
    field(PREC,"2")
}
